.profil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entete{
    min-width: 60vw;
    min-height: 50vh;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
    margin: 3em;
    border-radius: 7.5px;
    display: flex;
    flex-direction: column;
}


.descPhoto { 
    border-top-right-radius: 7.5px;
    border-top-left-radius: 7.5px;
    height: 25vh;
    background: linear-gradient(45deg, red, blue);
}