

{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Votre Profil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/profil.css"> 
{% endblock %} 

{% block body %}
<div class="profil">
<div class="entete">
<figure><div class="descPhoto"></div></figure>
</div>
</div>
{% endblock %}