<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   {% block stylesheets %}
    <!-- Bootstrap CSS -->
   {% endblock %}
    <title>{% block title %}MCDev - {% endblock %}</title>
  </head>
  <body>
    {% block navbar %}
    {% endblock %}

    {% for message in app.flashes('notice') %}
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
     {{ message }}
      </div>  
    {% endfor %}
    {% block body %}
    {% endblock %} 
  
    {% block javascripts %}
    {% endblock %}
  </body>
</html>